/* App.css */

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #7D6EAA;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Counter Styles */
.counter {
  background-color:#DBDDE6;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.counter h1 {
  font-size: 24px;
  margin: 0;
  color: #333;
}

.btn-green{
  background-color:green;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}
.btn-red{
  background-color: #B45338;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-blue {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-blue:hover {
  background-color: #0056b3;
}

.btn-green:hover {
  background-color:#194444 ;
}
.btn-red:hover{
  background-color: #5c1906;
}


.counter input {
  width: 50px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

/* 404 Page Styles */
.not-found {
  color: #F1B45C;
  font-size: 48px;
}

/* Error Boundary Page Styles */
.error-boundary {
  color: #f44336;
  font-size: 24px;
  margin: 20px;
}
